body {
    margin: 0;
    height: 100vh;
    background-image: url(imagenes/calculos2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contenedor {
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 2px;
    gap: 10px;
    height: fit-content;
    width: 27%;
    border: 5px solid black;
    border-radius: 10px;
}

button {
    height: 6vw;
    width: 6vw;
    font-size: 17px;
    transition-duration: 0.1s;
    padding: 0px;
    text-align: center;
    background:white;
    cursor: pointer;
    font-weight:bolder;
    border-radius: 5%;
    box-shadow: 0px 0px 5px black;
}

button:hover {
    background-color: darkcyan;
    color: white;
}

button:active {
    background-color: white;
    color: black;
}

input {
    background-color:turquoise;
    height: 6vw;
    width: 24.3vw;
    text-align: end;
    font-size: 40px;
    pointer-events: none;
    margin: 20px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 5px 5px black;
}

.igual {
    background-color:darkcyan;
}

@media only screen and (max-width: 700px) {
    input {
        font-size: 12px;
    }

    button {
        font-size: 12px;
        padding: 0px;
        text-align: center;
    }
}